{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>About &#8211; Lessan</title>



{% endblock head%}

{% block body %}

<!-- <div id="page" class="hfeed site"> -->


    <div data-elementor-type="wp-post" data-elementor-id="822" class="elementor elementor-822">
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-f08a85b elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="f08a85b" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;tilt&quot;}">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-shape elementor-shape-bottom" data-negative="false">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                    <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z" />
                </svg>
            </div>
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-bc7b082"
                    data-id="bc7b082" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-6509fcbf elementor-widget elementor-widget-heading"
                            data-id="6509fcbf" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <style>
                                    /*! elementor - v3.21.0 - 26-05-2024 */
                                    .elementor-heading-title {
                                        padding: 0;
                                        margin: 0;
                                        line-height: 1
                                    }

                                    .elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a {
                                        color: inherit;
                                        font-size: inherit;
                                        line-height: inherit
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                        font-size: 15px
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                        font-size: 19px
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                        font-size: 29px
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                        font-size: 39px
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                        font-size: 59px
                                    }
                                </style>
                                <h1 class="elementor-heading-title elementor-size-default">About Us</h1>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-c417655 elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image"
                            data-id="c417655" data-element_type="widget"
                            data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
                            data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img decoding="async" width="183" height="183"
                                    src="{% static 'img/c4.png' %}"
                                    class="attachment-large size-large wp-image-124" alt="" />
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-6ee471c elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image"
                            data-id="6ee471c" data-element_type="widget"
                            data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
                            data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img decoding="async" width="184" height="181"
                                    src="{% static 'img/c3.png' %}"
                                    class="attachment-large size-large wp-image-123" alt="" />
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-21f25f1 elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image"
                            data-id="21f25f1" data-element_type="widget"
                            data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
                            data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img loading="lazy" decoding="async" width="324" height="287"
                                    src="{% static 'img/edge.png' %}"
                                    class="attachment-large size-large wp-image-134" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-ae838e4 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="ae838e4" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_top&quot;:&quot;tilt&quot;}">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-shape elementor-shape-top" data-negative="false">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                    <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z" />
                </svg>
            </div>
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-fa9f475 elementor-invisible"
                    data-id="fa9f475" data-element_type="column"
                    data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-190a567 elementor-widget-tablet__width-auto elementor-widget elementor-widget-image"
                            data-id="190a567" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img loading="lazy" decoding="async" width="600" height="748"
                                    src="{% static 'img/aged-teacher-2021-09-24-03-26-41-utc.jpg' %}"
                                    class="attachment-large size-large wp-image-248" alt="" />
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-11a6a36 elementor-absolute elementor-widget elementor-widget-image"
                            data-id="11a6a36" data-element_type="widget"
                            data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
                            data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img loading="lazy" decoding="async" width="600" height="748"
                                    src="{% static 'img/aged-teacher-2021-09-24-03-26-41-utc-2.png' %}"
                                    class="attachment-large size-large wp-image-249" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-b9aa880"
                    data-id="b9aa880" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-6c39f6e elementor-invisible elementor-widget elementor-widget-heading"
                            data-id="6c39f6e" data-element_type="widget"
                            data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Preparing Our Children’s
                                    Bright Future</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-a72e5d6 elementor-widget__width-initial elementor-absolute elementor-widget-tablet__width-initial elementor-invisible elementor-widget elementor-widget-image"
                            data-id="a72e5d6" data-element_type="widget"
                            data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                            data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img loading="lazy" decoding="async" width="324" height="287"
                                    src="{% static 'img/edge2.png' %}" class="attachment-large size-large wp-image-210"
                                    alt="" />
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-7c159b6 elementor-invisible elementor-widget elementor-widget-text-editor"
                            data-id="7c159b6" data-element_type="widget"
                            data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                            data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices purus nec
                                    sollicitudin eleifend. In hac habitasse platea dictumst.</p>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-35dce44 elementor-view-stacked elementor-position-left elementor-vertical-align-middle elementor-widget-tablet__width-auto elementor-shape-circle elementor-mobile-position-top elementor-invisible elementor-widget elementor-widget-icon-box"
                            data-id="35dce44" data-element_type="widget"
                            data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                            data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <link rel="stylesheet" href="{% static 'css/widget-icon-box-min.css' %}">
                                <div class="elementor-icon-box-wrapper">

                                    <div class="elementor-icon-box-icon">
                                        <span class="elementor-icon elementor-animation-">
                                            <!-- <i aria-hidden="true" class="fas fa-chart-line"></i> -->
                                            <i class='fa fa-line-chart'></i>
                                        </span>
                                    </div>

                                    <div class="elementor-icon-box-content">

                                        <h3 class="elementor-icon-box-title">
                                            <span>
                                                Grade Improvement </span>
                                        </h3>

                                        <p class="elementor-icon-box-description">
                                            Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                        </p>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-b8abcf6 elementor-view-stacked elementor-position-left elementor-vertical-align-middle elementor-widget-tablet__width-auto elementor-shape-circle elementor-mobile-position-top elementor-invisible elementor-widget elementor-widget-icon-box"
                            data-id="b8abcf6" data-element_type="widget"
                            data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                            data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">

                                    <div class="elementor-icon-box-icon">
                                        <span class="elementor-icon elementor-animation-">
                                            <!-- <i aria-hidden="true" class="jki jki-open-book-light"></i>  -->
                                            <i class="fa fa-book"></i>
                                        </span>
                                    </div>

                                    <div class="elementor-icon-box-content">

                                        <h3 class="elementor-icon-box-title">
                                            <span>
                                                Exam Preparation </span>
                                        </h3>

                                        <p class="elementor-icon-box-description">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing. </p>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-d80d7e9 elementor-view-stacked elementor-position-left elementor-vertical-align-middle elementor-widget-tablet__width-auto elementor-shape-circle elementor-mobile-position-top elementor-invisible elementor-widget elementor-widget-icon-box"
                            data-id="d80d7e9" data-element_type="widget"
                            data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                            data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-box-wrapper">

                                    <div class="elementor-icon-box-icon">
                                        <span class="elementor-icon elementor-animation-">
                                            <i aria-hidden="true" class="fa fa-users"></i> </span>
                                    </div>

                                    <div class="elementor-icon-box-content">

                                        <h3 class="elementor-icon-box-title">
                                            <span>
                                                Social Development </span>
                                        </h3>

                                        <p class="elementor-icon-box-description">
                                            Donec et massa sit amet augue laoreet venenatis id et urna. </p>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-a821ff6 elementor-widget__width-initial elementor-absolute elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-invisible elementor-widget elementor-widget-image"
                            data-id="a821ff6" data-element_type="widget"
                            data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                            data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img loading="lazy" decoding="async" width="195" height="196"
                                    src="{% static 'img/c1.png' %}" class="attachment-large size-large wp-image-121"
                                    alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-d5ca80d elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="d5ca80d" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-352adc2"
                    data-id="352adc2" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-beda70a elementor-invisible elementor-widget elementor-widget-heading"
                            data-id="beda70a" data-element_type="widget"
                            data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Our vision is every child
                                    is safe, inspired, challenged, empowered.</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-a57e47f elementor-widget__width-initial elementor-absolute elementor-widget-mobile__width-initial elementor-invisible elementor-widget elementor-widget-image"
                            data-id="a57e47f" data-element_type="widget"
                            data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                            data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img loading="lazy" decoding="async" width="324" height="287"
                                    src="{% static 'img/edge.png' %}" class="attachment-large size-large wp-image-134"
                                    alt="" />
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-0b7321a elementor-widget__width-initial elementor-absolute elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-invisible elementor-widget elementor-widget-image"
                            data-id="0b7321a" data-element_type="widget"
                            data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                            data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img decoding="async" width="184" height="181" src="{% static 'img/c3.png' %}"
                                    class="attachment-large size-large wp-image-123" alt="" />
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-aab7e96 elementor-invisible elementor-widget elementor-widget-text-editor"
                            data-id="aab7e96" data-element_type="widget"
                            data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                            data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <p>Integer efficitur ligula ipsum, at vulputate mi fermentum sit amet. Sed pulvinar
                                    rutrum commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                    vitae tortor nec lectus mattis congue id sed tortor.</p>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-3acfbca elementor-widget__width-initial elementor-absolute elementor-invisible elementor-widget elementor-widget-image"
                            data-id="3acfbca" data-element_type="widget"
                            data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                            data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img loading="lazy" decoding="async" width="183" height="183"
                                    src="{% static 'img/c4.png' %}" class="attachment-large size-large wp-image-124"
                                    alt="" />
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-ad0cd1b elementor-align-center elementor-invisible elementor-widget elementor-widget-button"
                            data-id="ad0cd1b" data-element_type="widget"
                            data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                            data-widget_type="button.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                    <a class="elementor-button elementor-button-link elementor-size-sm" href="#">
                                        <span class="elementor-button-content-wrapper">
                                            <span class="elementor-button-text">Learn More</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="elementor-section elementor-top-section elementor-element elementor-element-47caaff elementor-reverse-tablet elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="47caaff" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" style="margin-top: 100px;">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-c576531 elementor-invisible"
                    data-id="c576531" data-element_type="column"
                    data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <section
                            class="elementor-section elementor-inner-section elementor-element elementor-element-36ea5a8 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                            data-id="36ea5a8" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-fd16404"
                                    data-id="fd16404" data-element_type="column"
                                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-b424d4b elementor-widget elementor-widget-image"
                                            data-id="b424d4b" data-element_type="widget"
                                            data-widget_type="image.default">
                                            <div class="elementor-widget-container">
                                                <img loading="lazy" decoding="async" width="700" height="171"
                                                    src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-265.png"
                                                    class="attachment-large size-large wp-image-510" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-1cb2327"
                                    data-id="1cb2327" data-element_type="column"
                                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-3c9e168 elementor-widget elementor-widget-image"
                                            data-id="3c9e168" data-element_type="widget"
                                            data-widget_type="image.default">
                                            <div class="elementor-widget-container">
                                                <img loading="lazy" decoding="async" width="708" height="171"
                                                    src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-264.png"
                                                    class="attachment-large size-large wp-image-509" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-0806998"
                                    data-id="0806998" data-element_type="column"
                                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-6317ee8 elementor-widget elementor-widget-image"
                                            data-id="6317ee8" data-element_type="widget"
                                            data-widget_type="image.default">
                                            <div class="elementor-widget-container">
                                                <img loading="lazy" decoding="async" width="708" height="171"
                                                    src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-262.png"
                                                    class="attachment-large size-large wp-image-508" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section
                            class="elementor-section elementor-inner-section elementor-element elementor-element-5889767 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                            data-id="5889767" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-8ed8c8e"
                                    data-id="8ed8c8e" data-element_type="column"
                                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-da9c3ff elementor-widget elementor-widget-image"
                                            data-id="da9c3ff" data-element_type="widget"
                                            data-widget_type="image.default">
                                            <div class="elementor-widget-container">
                                                <img loading="lazy" decoding="async" width="696" height="171"
                                                    src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-261.png"
                                                    class="attachment-large size-large wp-image-507" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-d6e580a"
                                    data-id="d6e580a" data-element_type="column"
                                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-f4122fd elementor-widget elementor-widget-image"
                                            data-id="f4122fd" data-element_type="widget"
                                            data-widget_type="image.default">
                                            <div class="elementor-widget-container">
                                                <img loading="lazy" decoding="async" width="642" height="113"
                                                    src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-259.png"
                                                    class="attachment-large size-large wp-image-506" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-b24ad52"
                                    data-id="b24ad52" data-element_type="column"
                                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-c9687fa elementor-widget elementor-widget-image"
                                            data-id="c9687fa" data-element_type="widget"
                                            data-widget_type="image.default">
                                            <div class="elementor-widget-container">
                                                <img loading="lazy" decoding="async" width="717" height="167"
                                                    src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-254.png"
                                                    class="attachment-large size-large wp-image-505" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-fbf51cf"
                    data-id="fbf51cf" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-f5881fb elementor-invisible elementor-widget elementor-widget-heading"
                            data-id="f5881fb" data-element_type="widget"
                            data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                            data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Our Trusted Partners</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-f98bf70 elementor-invisible elementor-widget elementor-widget-text-editor"
                            data-id="f98bf70" data-element_type="widget"
                            data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                            data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <p>Donec hendrerit nibh in lectus molestie, id bibendum orci hendrerit. Curabitur
                                    euismod ante finibus nibh suscipit, vitae vehicula eros venenatis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>


<!-- </div>#page -->



{% endblock body %}