{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>About Us - Home Tutors in Delhi | Personalized In-Home Tutoring Services</title>
<meta name="description" content="Learn about Home Tutors in Delhi, where we offer personalized, in-home tutoring services tailored to meet your child's individual needs. Discover our story, values, and what sets us apart.">
<meta name="keywords" content="About Home Tutors in Delhi, Personalized Tutoring, In-Home Tutoring, Tailored Education, Expert Tutors, Student Success, Academic Support, Holistic Learning">

<link rel="canonical" href="https://www.hometutorsindelhi.com/about">

<meta property="og:title" content="About Us - Home Tutors in Delhi | Personalized In-Home Tutoring Services">
<meta property="og:description" content="Discover the story behind Home Tutors in Delhi, our mission, and what makes our personalized, in-home tutoring services stand out.">
<meta property="og:image" content="https://www.hometutorsindelhi.com/static/img/hometutorsindelhisocialmedia.jpeg">
<meta property="og:url" content="https://www.hometutorsindelhi.com/about">
<meta property="og:type" content="website">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="About Us - Home Tutors in Delhi | Personalized In-Home Tutoring Services">
<meta name="twitter:description" content="Learn more about Home Tutors in Delhi and our commitment to providing personalized, in-home tutoring services.">
<meta name="twitter:image" content="https://www.hometutorsindelhi.com/static/img/hometutorsindelhisocialmedia.jpeg">
<meta name="twitter:site" content="@yourtwitterhandle">

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Home Tutors in Delhi",
      "url": "https://www.hometutorsindelhi.com",
      "logo": "https://www.hometutorsindelhi.com/static/img/logo.png",
      "description": "Home Tutors in Delhi offers personalized, in-home tutoring services tailored to meet your child's individual needs.",
      "sameAs": [
        "https://www.facebook.com/hometutorsindelhi",
        "https://www.instagram.com/hometutorsindelhi",
        "https://www.linkedin.com/company/hometutorsindelhi"
      ],
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+91-926-613-3939",
        "contactType": "Customer Service"
      }
    }
    </script>
    



<link rel='stylesheet' href="{% static 'css/reviewStyle.css' %}" media='all' />
<link rel='stylesheet' href="{% static 'css/reviewAnimation.css' %}" media='all' />
<link rel='stylesheet' href="{% static 'css/reviewCarousel.css' %}" media='all' />
<style>
    #reviewstudentprofile {
        width: 70px;
        border-radius: 50%;
    }
</style>

{% endblock head%}

{% block body %}

<!-- <div id="page" class="hfeed site"> -->


<div data-elementor-type="wp-post" data-elementor-id="822" class="elementor elementor-822" >
    <section
        class="elementor-section elementor-top-section elementor-element elementor-element-f08a85b elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="f08a85b" data-element_type="section"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;tilt&quot;}">
        <div class="elementor-background-overlay"></div>
        <div class="elementor-shape elementor-shape-bottom" data-negative="false">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z" />
            </svg>
        </div>
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-bc7b082"
                data-id="bc7b082" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-6509fcbf elementor-widget elementor-widget-heading"
                        data-id="6509fcbf" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.21.0 - 26-05-2024 */
                                .elementor-heading-title {
                                    padding: 0;
                                    margin: 0;
                                    line-height: 1
                                }

                                .elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a {
                                    color: inherit;
                                    font-size: inherit;
                                    line-height: inherit
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                    font-size: 15px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                    font-size: 19px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                    font-size: 29px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                    font-size: 39px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                    font-size: 59px
                                }
                            </style>
                            <h1 class="elementor-heading-title elementor-size-default">About Us</h1>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-c417655 elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image"
                        data-id="c417655" data-element_type="widget"
                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" width="183" height="183" src="{% static 'img/c4.png' %}"
                                class="attachment-large size-large wp-image-124" alt="" />
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-6ee471c elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image"
                        data-id="6ee471c" data-element_type="widget"
                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" width="184" height="181" src="{% static 'img/c3.png' %}"
                                class="attachment-large size-large wp-image-123" alt="" />
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-21f25f1 elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image"
                        data-id="21f25f1" data-element_type="widget"
                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img loading="lazy" decoding="async" width="324" height="287"
                                src="{% static 'img/edge.png' %}" class="attachment-large size-large wp-image-134"
                                alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section
        class="elementor-section elementor-top-section elementor-element elementor-element-d5ca80d elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="d5ca80d" data-element_type="section"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" style="background-image: url({% static 'img/OUR STORY-min.jpg' %});">
        <div class="elementor-background-overlay" style="background-color: transparent"></div>
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-352adc2"
                data-id="352adc2" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-beda70a elementor-invisible elementor-widget elementor-widget-heading"
                        data-id="beda70a" data-element_type="widget"
                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                        data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default" style="color: rgb(63, 63, 63);">Our Story</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-a57e47f elementor-widget__width-initial elementor-absolute elementor-widget-mobile__width-initial elementor-invisible elementor-widget elementor-widget-image"
                        data-id="a57e47f" data-element_type="widget"
                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                        data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img loading="lazy" decoding="async" width="324" height="287"
                                src="{% static 'img/edge.png' %}" class="attachment-large size-large wp-image-134"
                                alt="" />
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-0b7321a elementor-widget__width-initial elementor-absolute elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-invisible elementor-widget elementor-widget-image"
                        data-id="0b7321a" data-element_type="widget"
                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                        data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" width="184" height="181" src="{% static 'img/c3.png' %}"
                                class="attachment-large size-large wp-image-123" alt="" style="display: none;" />
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-aab7e96 elementor-invisible elementor-widget elementor-widget-text-editor"
                        data-id="aab7e96" data-element_type="widget"
                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                        data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p style="color: rgb(73, 73, 73);font-size: 20px;line-height: 35px;">Welcome to Home Tutors in Delhi, where we believe that exceptional education should be as accessible and personalized as possible. Our goal is to bring expert tutoring directly to your doorstep, offering a unique blend of convenience and high-quality instruction tailored to meet your child's individual needs.
                                Founded with a passion for education and a commitment to student success, Home Tutors in Delhi was created to address the growing need for personalized, in-home academic support. Our team recognized that traditional classroom settings often fall short in addressing individual learning needs, and thus, we set out to offer a solution that prioritizes one-on-one engagement and flexibility.</p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-3acfbca elementor-widget__width-initial elementor-absolute elementor-invisible elementor-widget elementor-widget-image"
                        data-id="3acfbca" data-element_type="widget"
                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                        data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img loading="lazy" decoding="async" width="183" height="183"
                                src="{% static 'img/c4.png' %}" class="attachment-large size-large wp-image-124"
                                alt="" />
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-ad0cd1b elementor-align-center elementor-invisible elementor-widget elementor-widget-button"
                        data-id="ad0cd1b" data-element_type="widget"
                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="button.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-button-wrapper">
                                <!-- <a class="elementor-button elementor-button-link elementor-size-sm" href="#">
                                <span class="elementor-button-content-wrapper">
                                    <span class="elementor-button-text">Learn More</span>
                                </span>
                            </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section
        class="elementor-section elementor-top-section elementor-element elementor-element-ae838e4 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="ae838e4" data-element_type="section"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_top&quot;:&quot;tilt&quot;}">
        <div class="elementor-background-overlay"></div>
        <div class="elementor-shape elementor-shape-top" data-negative="false">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z" />
            </svg>
        </div>
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-fa9f475 elementor-invisible"
                data-id="fa9f475" data-element_type="column"
                data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-190a567 elementor-widget-tablet__width-auto elementor-widget elementor-widget-image"
                        data-id="190a567" data-element_type="widget" data-widget_type="image.default">
                        <div class="elementor-widget-container" style="margin: 0px 0px 0px 0px;">
                            <img loading="lazy" decoding="async" width="600" height="748"
                                src="{% static 'img/transparentbg.png' %}"
                                class="attachment-large size-large wp-image-248" alt="" />
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-11a6a36 elementor-absolute elementor-widget elementor-widget-image"
                        data-id="11a6a36" data-element_type="widget"
                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
                        <div class="elementor-widget-container" style="margin: 0px 0px 0px 0px;">
                            <img loading="lazy" decoding="async" width="600" height="748"
                                src="{% static 'img/choose.jpg' %}"
                                class="attachment-large size-large wp-image-249" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-b9aa880"
                data-id="b9aa880" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-6c39f6e elementor-invisible elementor-widget elementor-widget-heading"
                        data-id="6c39f6e" data-element_type="widget"
                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                        data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">What Sets Us Apart</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-a72e5d6 elementor-widget__width-initial elementor-absolute elementor-widget-tablet__width-initial elementor-invisible elementor-widget elementor-widget-image"
                        data-id="a72e5d6" data-element_type="widget"
                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                        data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img loading="lazy" decoding="async" width="324" height="287"
                                src="{% static 'img/edge2.png' %}" class="attachment-large size-large wp-image-210"
                                alt="" />
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-7c159b6 elementor-invisible elementor-widget elementor-widget-text-editor"
                        data-id="7c159b6" data-element_type="widget"
                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                        data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices purus nec
                                sollicitudin eleifend. In hac habitasse platea dictumst.</p> -->
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-35dce44 elementor-view-stacked elementor-position-left elementor-vertical-align-middle elementor-widget-tablet__width-auto elementor-shape-circle elementor-mobile-position-top elementor-invisible elementor-widget elementor-widget-icon-box"
                        data-id="35dce44" data-element_type="widget"
                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                        data-widget_type="icon-box.default">
                        <div class="elementor-widget-container">
                            <link rel="stylesheet" href="{% static 'css/widget-icon-box-min.css' %}">
                            <div class="elementor-icon-box-wrapper">

                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M192 96a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm-8 384l0-128 16 0 0 128c0 17.7 14.3 32 32 32s32-14.3 32-32l0-288 56 0 64 0 16 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-16 0 0-64 192 0 0 192-192 0 0-32-64 0 0 48c0 26.5 21.5 48 48 48l224 0c26.5 0 48-21.5 48-48l0-224c0-26.5-21.5-48-48-48L368 0c-26.5 0-48 21.5-48 48l0 80-76.9 0-65.9 0c-33.7 0-64.9 17.7-82.3 46.6l-58.3 97c-9.1 15.1-4.2 34.8 10.9 43.9s34.8 4.2 43.9-10.9L120 256.9 120 480c0 17.7 14.3 32 32 32s32-14.3 32-32z"/></svg>
                                        </span>
                                </div>

                                <div class="elementor-icon-box-content">

                                    <h3 class="elementor-icon-box-title">
                                        <span>Tailored Tutoring</span>
                                    </h3>

                                    <p class="elementor-icon-box-description">We offer individualized lesson plans designed to address each student's unique strengths and areas for improvement. Our tutors work closely with students to ensure they receive the personalized attention they need to excel.</p>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-b8abcf6 elementor-view-stacked elementor-position-left elementor-vertical-align-middle elementor-widget-tablet__width-auto elementor-shape-circle elementor-mobile-position-top elementor-invisible elementor-widget elementor-widget-icon-box"
                        data-id="b8abcf6" data-element_type="widget"
                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                        data-widget_type="icon-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-box-wrapper">

                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M320 32c-8.1 0-16.1 1.4-23.7 4.1L15.8 137.4C6.3 140.9 0 149.9 0 160s6.3 19.1 15.8 22.6l57.9 20.9C57.3 229.3 48 259.8 48 291.9l0 28.1c0 28.4-10.8 57.7-22.3 80.8c-6.5 13-13.9 25.8-22.5 37.6C0 442.7-.9 448.3 .9 453.4s6 8.9 11.2 10.2l64 16c4.2 1.1 8.7 .3 12.4-2s6.3-6.1 7.1-10.4c8.6-42.8 4.3-81.2-2.1-108.7C90.3 344.3 86 329.8 80 316.5l0-24.6c0-30.2 10.2-58.7 27.9-81.5c12.9-15.5 29.6-28 49.2-35.7l157-61.7c8.2-3.2 17.5 .8 20.7 9s-.8 17.5-9 20.7l-157 61.7c-12.4 4.9-23.3 12.4-32.2 21.6l159.6 57.6c7.6 2.7 15.6 4.1 23.7 4.1s16.1-1.4 23.7-4.1L624.2 182.6c9.5-3.4 15.8-12.5 15.8-22.6s-6.3-19.1-15.8-22.6L343.7 36.1C336.1 33.4 328.1 32 320 32zM128 408c0 35.3 86 72 192 72s192-36.7 192-72L496.7 262.6 354.5 314c-11.1 4-22.8 6-34.5 6s-23.5-2-34.5-6L143.3 262.6 128 408z"/></svg>
                                    </span>
                                </div>

                                <div class="elementor-icon-box-content">

                                    <h3 class="elementor-icon-box-title">
                                        <span>Diverse Expertise </span>
                                    </h3>

                                    <p class="elementor-icon-box-description">Our roster includes experts across a wide range of subjects and grade levels. Whether your child needs help with math, science, languages, or test preparation, we have qualified tutors ready to provide top-notch instruction.</p>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-d80d7e9 elementor-view-stacked elementor-position-left elementor-vertical-align-middle elementor-widget-tablet__width-auto elementor-shape-circle elementor-mobile-position-top elementor-invisible elementor-widget elementor-widget-icon-box"
                        data-id="d80d7e9" data-element_type="widget"
                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                        data-widget_type="icon-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-box-wrapper">

                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>    
                                    </span>
                                </div>

                                <div class="elementor-icon-box-content">

                                    <h3 class="elementor-icon-box-title">
                                        <span>Flexible and Convenient </span>
                                    </h3>

                                    <p class="elementor-icon-box-description">We understand that busy schedules can make it challenging to find time for tutoring. Our flexible scheduling options are designed to accommodate your family’s needs, with sessions available at times that work best for you. </p>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-d80d7e9 elementor-view-stacked elementor-position-left elementor-vertical-align-middle elementor-widget-tablet__width-auto elementor-shape-circle elementor-mobile-position-top elementor-invisible elementor-widget elementor-widget-icon-box"
                        data-id="d80d7e9" data-element_type="widget"
                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                        data-widget_type="icon-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-box-wrapper">

                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M407.8 294.7c-3.3-.4-6.7-.8-10-1.3c3.4 .4 6.7 .9 10 1.3zM288 227.1C261.9 176.4 190.9 81.9 124.9 35.3C61.6-9.4 37.5-1.7 21.6 5.5C3.3 13.8 0 41.9 0 58.4S9.1 194 15 213.9c19.5 65.7 89.1 87.9 153.2 80.7c3.3-.5 6.6-.9 10-1.4c-3.3 .5-6.6 1-10 1.4C74.3 308.6-9.1 342.8 100.3 464.5C220.6 589.1 265.1 437.8 288 361.1c22.9 76.7 49.2 222.5 185.6 103.4c102.4-103.4 28.1-156-65.8-169.9c-3.3-.4-6.7-.8-10-1.3c3.4 .4 6.7 .9 10 1.3c64.1 7.1 133.6-15.1 153.2-80.7C566.9 194 576 75 576 58.4s-3.3-44.7-21.6-52.9c-15.8-7.1-40-14.9-103.2 29.8C385.1 81.9 314.1 176.4 288 227.1z"/></svg>
                                    </span>
                                </div>

                                <div class="elementor-icon-box-content">

                                    <h3 class="elementor-icon-box-title">
                                        <span>Holistic Approach </span>
                                    </h3>

                                    <p class="elementor-icon-box-description">We believe that education is more than just academic performance. Our tutors focus on developing critical thinking, problem-solving skills, and self-confidence, ensuring that students not only succeed in their studies but also grow as well-rounded individuals. </p>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-a821ff6 elementor-widget__width-initial elementor-absolute elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-invisible elementor-widget elementor-widget-image"
                        data-id="a821ff6" data-element_type="widget"
                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                        data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img loading="lazy" decoding="async" width="195" height="196"
                                src="{% static 'img/c1.png' %}" class="attachment-large size-large wp-image-121"
                                alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section
        class="elementor-section elementor-top-section elementor-element elementor-element-d5ca80d elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="d5ca80d" data-element_type="section"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-352adc2"
                data-id="352adc2" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-beda70a elementor-invisible elementor-widget elementor-widget-heading"
                        data-id="beda70a" data-element_type="widget"
                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                        data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">Join Us on the Journey to Success</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-a57e47f elementor-widget__width-initial elementor-absolute elementor-widget-mobile__width-initial elementor-invisible elementor-widget elementor-widget-image"
                        data-id="a57e47f" data-element_type="widget"
                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                        data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img loading="lazy" decoding="async" width="324" height="287"
                                src="{% static 'img/edge.png' %}" class="attachment-large size-large wp-image-134"
                                alt="" />
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-0b7321a elementor-widget__width-initial elementor-absolute elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-invisible elementor-widget elementor-widget-image"
                        data-id="0b7321a" data-element_type="widget"
                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                        data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" width="184" height="181" src="{% static 'img/c3.png' %}"
                                class="attachment-large size-large wp-image-123" alt="" />
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-aab7e96 elementor-invisible elementor-widget elementor-widget-text-editor"
                        data-id="aab7e96" data-element_type="widget"
                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                        data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>Considering Home Tutors in Delhi as your partner in education. We are excited to work with you and your child to unlock their potential and achieve their academic goals. Feel free to reach out to us with any questions or to schedule a consultation. Together, we can make learning an enriching and enjoyable experience.</p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-3acfbca elementor-widget__width-initial elementor-absolute elementor-invisible elementor-widget elementor-widget-image"
                        data-id="3acfbca" data-element_type="widget"
                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;,&quot;_animation&quot;:&quot;fadeInUp&quot;}"
                        data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img loading="lazy" decoding="async" width="183" height="183"
                                src="{% static 'img/c4.png' %}" class="attachment-large size-large wp-image-124"
                                alt="" />
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-ad0cd1b elementor-align-center elementor-invisible elementor-widget elementor-widget-button"
                        data-id="ad0cd1b" data-element_type="widget"
                        data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="button.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-button-wrapper">
                                <a class="elementor-button elementor-button-link elementor-size-sm" href="tel:9266133939">
                                    <span class="elementor-button-content-wrapper">
                                        <span class="elementor-button-text">Contact Now</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    


    <div class="slider-area">
        <img class="slder slider-1" src="/static/img/services-shape-1.png" alt="">
        <div class="container" style="margin: auto;">
            <div class="row" style="text-align: center;">
                <div class="col-lg-12">
                    <div class="slider-title text-center ">
                        <h2>Why Students Choose Us for Comprehensive Learning</h2>
                        <p>Trusted by top students for our exceptional faculty, personalized guidance, and extensive curriculum that covers JEE, NEET, and beyond.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <img class="sli sli-2" src="/static/img/sheap-1.png" alt="">
                    <div class="single-slider-active owl-carousel owl-loaded owl-drag">
    
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transition: 1s; width: 3499px; transform: translate3d(-1166px, 0px, 0px);">
                                <div class="owl-item cloned" style="width: 368.667px; margin-right: 20px;">
                                    <div class="slider-item">
                                        <div class="slider-content">
                                            <i class="">”</i>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                Lorem ipsum
                                                dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do
                                                eiusmod Lorem ipsum dolor sit amet, </p>
                                        </div>
                                        <div class="slider-info">
                                            <div class="slider-inner">
                                                <img src="{% static 'img/Aaryan.jpeg' %}" alt="" id="reviewstudentprofile">
                                            </div>
                                            <div class="slider-inner-text">
                                                <h4>Aaryan</h4>
                                                <p>IIT Delhi</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 368.667px; margin-right: 20px;">
                                    <div class="slider-item">
                                        <div class="slider-content">
                                            <i class="">”</i>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                Lorem ipsum
                                                dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do
                                                eiusmod Lorem ipsum dolor sit amet, </p>
                                        </div>
                                        <div class="slider-info">
                                            <div class="slider-inner">
                                                <img src="{% static 'img/Aaryan.jpeg' %}"
                                                    alt="" id="reviewstudentprofile">
                                            </div>
                                            <div class="slider-inner-text">
                                                <h4>11111</h4>
                                                <p>Oral Customer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 368.667px; margin-right: 20px;">
                                    <div class="slider-item">
                                        <div class="slider-content">
                                            <i class="">”</i>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                Lorem ipsum
                                                dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do
                                                eiusmod Lorem ipsum dolor sit amet, </p>
                                        </div>
                                        <div class="slider-info">
                                            <div class="slider-inner">
                                                <img src="https://medics.themechampion.com/html/pharmacy/assets/img/client/man-3.png"
                                                    alt="">
                                            </div>
                                            <div class="slider-inner-text">
                                                <h4>Oliver</h4>
                                                <p>Oral Customer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 368.667px; margin-right: 20px;">
                                    <div class="slider-item">
                                        <div class="slider-content">
                                            <i class="">”</i>
                                            <p>Best Institute In India, You must join if are students of Jee or Neet. I specially suggesting you for Chemistry. You can not find better than Raman Sir.</p>
                                        </div>
                                        <div class="slider-info">
                                            <div class="slider-inner">
                                                <img src="{% static 'img/Aaryan.jpeg' %}" alt="" id="reviewstudentprofile">
                                            </div>
                                            <div class="slider-inner-text">
                                                <h4>Aaryan</h4>
                                                <p>IIT Delhi</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active center" style="width: 368.667px; margin-right: 20px;">
                                    <div class="slider-item">
                                        <div class="slider-content">
                                            <i class="">”</i>
                                            <p>It's a great institute,here u can study for both jee and neet the teachers a very polite and understandable. I will recommend you guys to send your children's in this particular institute, </p>
                                        </div>
                                        <div class="slider-info">
                                            <div class="slider-inner">
                                                <img src="{% static 'img/Ujjwal.jpeg' %}"
                                                    alt="" id="reviewstudentprofile">
                                            </div>
                                            <div class="slider-inner-text">
                                                <h4>Ujjwal</h4>
                                                <p>IIIT Delhi</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 368.667px; margin-right: 20px;">
                                    <div class="slider-item">
                                        <div class="slider-content">
                                            <i class="">”</i>
                                            <p>The best institute for science students, best faculty with excellent knowledge and provide the best guidance as mentors, well trained and helping staff members, </p>
                                        </div>
                                        <div class="slider-info">
                                            <div class="slider-inner">
                                                <img src="{% static 'img/Akshit.jpeg' %}"
                                                    alt="" id="reviewstudentprofile">
                                            </div>
                                            <div class="slider-inner-text">
                                                <h4>Akshit</h4>
                                                <p>DTU</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 368.667px; margin-right: 20px;">
                                    <div class="slider-item">
                                        <div class="slider-content">
                                            <i class="">”</i>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                Lorem ipsum
                                                dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do
                                                eiusmod Lorem ipsum dolor sit amet, </p>
                                        </div>
                                        <div class="slider-info">
                                            <div class="slider-inner">
                                                <img src="https://medics.themechampion.com/html/pharmacy/assets/img/client/man-1.png"
                                                    alt="">
                                            </div>
                                            <div class="slider-inner-text">
                                                <h4>Lucas</h4>
                                                <p>Oral Customer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 368.667px; margin-right: 20px;">
                                    <div class="slider-item">
                                        <div class="slider-content">
                                            <i class="">”</i>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                Lorem ipsum
                                                dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do
                                                eiusmod Lorem ipsum dolor sit amet, </p>
                                        </div>
                                        <div class="slider-info">
                                            <div class="slider-inner">
                                                <img src="https://medics.themechampion.com/html/pharmacy/assets/img/client/man-2.png"
                                                    alt="">
                                            </div>
                                            <div class="slider-inner-text">
                                                <h4>3333</h4>
                                                <p>Oral Customer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 368.667px; margin-right: 20px;">
                                    <div class="slider-item">
                                        <div class="slider-content">
                                            <i class="">”</i>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                Lorem ipsum
                                                dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do
                                                eiusmod Lorem ipsum dolor sit amet, </p>
                                        </div>
                                        <div class="slider-info">
                                            <div class="slider-inner">
                                                <img src="https://medics.themechampion.com/html/pharmacy/assets/img/client/man-3.png"
                                                    alt="">
                                            </div>
                                            <div class="slider-inner-text">
                                                <h4>Oliver</h4>
                                                <p>Oral Customer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                                    aria-label="Previous">‹</span></button><button type="button" role="presentation"
                                class="owl-next"><span aria-label="Next">›</span></button></div>
                        <div class="owl-dots disabled"><button role="button" class="owl-dot"><span></span></button><button
                                role="button" class="owl-dot active"><span></span></button><button role="button"
                                class="owl-dot"><span></span></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<!-- </div>#page -->



{% endblock body %}