{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Contact Us &#8211; Lessan</title>

<link rel='stylesheet' id='elementor-post-939-css' href="{% static 'css/post-939.css' %}" media='all' />
<style>
    .contactDetails h4{
        font-size: 20px;
    }
</style>

{% endblock head%}

{% block body %}

<div id="page" class="hfeed site">


    <div data-elementor-type="wp-post" data-elementor-id="939" class="elementor elementor-939">
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-dd67008 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="dd67008" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;tilt&quot;}">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-shape elementor-shape-bottom" data-negative="false">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                    <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z" />
                </svg>
            </div>
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b165d4b"
                    data-id="b165d4b" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-32aed1a elementor-widget elementor-widget-heading"
                            data-id="32aed1a" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <style>
                                    /*! elementor - v3.21.0 - 26-05-2024 */
                                    .elementor-heading-title {
                                        padding: 0;
                                        margin: 0;
                                        line-height: 1
                                    }

                                    .elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a {
                                        color: inherit;
                                        font-size: inherit;
                                        line-height: inherit
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                        font-size: 15px
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                        font-size: 19px
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                        font-size: 29px
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                        font-size: 39px
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                        font-size: 59px
                                    }
                                </style>
                                <h1 class="elementor-heading-title elementor-size-default">Contact Us</h1>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-e617de9 elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image"
                            data-id="e617de9" data-element_type="widget"
                            data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
                            data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img decoding="async" width="183" height="183" src="{% static 'img/c4.png' %}"
                                    class="attachment-large size-large wp-image-124" alt="" />
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-99fa2fb elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image"
                            data-id="99fa2fb" data-element_type="widget"
                            data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
                            data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img decoding="async" width="184" height="181" src="{% static 'img/c3.png' %}"
                                    class="attachment-large size-large wp-image-123" alt="" />
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-2553cfe elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image"
                            data-id="2553cfe" data-element_type="widget"
                            data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
                            data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <img loading="lazy" decoding="async" width="324" height="287"
                                    src="{% static 'img/edge.png' %}" class="attachment-large size-large wp-image-134"
                                    alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-33bc867d elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="33bc867d" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;tilt&quot;}">
            <div class="elementor-shape elementor-shape-bottom" data-negative="false">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                    <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z" />
                </svg>
            </div>
            <div class="elementor-container elementor-column-gap-default contactDetails">
                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5930cfa8"
                    data-id="5930cfa8" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <section
                            class="elementor-section elementor-inner-section elementor-element elementor-element-6139fe21 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                            data-id="6139fe21" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1c2ff318"
                                    data-id="1c2ff318" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-1a939d13 elementor-view-stacked elementor-shape-circle elementor-widget elementor-widget-icon"
                                            data-id="1a939d13" data-element_type="widget"
                                            data-widget_type="icon.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-icon-wrapper">
                                                    <div class="elementor-icon">
                                                        <i aria-hidden="true" class="fa fa-phone"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-37eb3ea3"
                                    data-id="37eb3ea3" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-1c156b18 elementor-widget elementor-widget-heading"
                                            data-id="1c156b18" data-element_type="widget"
                                            data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-default">Our
                                                    Number</h2>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-3120e954 elementor-widget elementor-widget-heading"
                                            data-id="3120e954" data-element_type="widget"
                                            data-widget_type="heading.default"><a href="tel:9266133939"
                                                class="elementor-heading-title elementor-size-default"><a href="tel:9266133939">
                                            <div class="elementor-widget-container">
                                                <h4 class="elementor-heading-title elementor-size-default">
                                                    926 613 3939
                                                </h4>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-7d7c299e"
                    data-id="7d7c299e" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <section
                            class="elementor-section elementor-inner-section elementor-element elementor-element-69ef5244 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                            data-id="69ef5244" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-15733689"
                                    data-id="15733689" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-1cf4117c elementor-view-stacked elementor-shape-circle elementor-widget elementor-widget-icon"
                                            data-id="1cf4117c" data-element_type="widget"
                                            data-widget_type="icon.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-icon-wrapper">
                                                    <div class="elementor-icon">
                                                        <i aria-hidden="true" class="fa fa-envelope"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-160fc3c8"
                                    data-id="160fc3c8" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-32cdd23f elementor-widget elementor-widget-heading"
                                            data-id="32cdd23f" data-element_type="widget"
                                            data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-default">Email
                                                    Address</h2>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-53c01684 elementor-widget elementor-widget-heading"
                                            data-id="53c01684" data-element_type="widget"
                                            data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <a href="mailto:contact@hometutorsindelhi.com">
                                                <h4 class="elementor-heading-title elementor-size-default">contact@hometutorsindelhi.com</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-21c761b9"
                    data-id="21c761b9" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <section
                            class="elementor-section elementor-inner-section elementor-element elementor-element-71493fe7 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                            data-id="71493fe7" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7649885c"
                                    data-id="7649885c" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-6258f1fa elementor-view-stacked elementor-shape-circle elementor-widget elementor-widget-icon"
                                            data-id="6258f1fa" data-element_type="widget"
                                            data-widget_type="icon.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-icon-wrapper">
                                                    <div class="elementor-icon">
                                                        <i aria-hidden="true" class="fa fa-map-marker"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6e9f5e8"
                                    data-id="6e9f5e8" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                        <div class="elementor-element elementor-element-2402b49b elementor-widget elementor-widget-heading"
                                            data-id="2402b49b" data-element_type="widget"
                                            data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-default">Our
                                                    location</h2>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-680dedbc elementor-widget elementor-widget-heading"
                                            data-id="680dedbc" data-element_type="widget"
                                            data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h4 class="elementor-heading-title elementor-size-default">Sector-6, Rohini Delhi-110085</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <section
            class="elementor-section elementor-top-section elementor-element elementor-element-2393f687 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="2393f687" data-element_type="section"
            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-51e6ef09"
                    data-id="51e6ef09" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-2bddd52a elementor-widget elementor-widget-heading"
                            data-id="2bddd52a" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default">Get in touch</h2>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-55948398 elementor-widget elementor-widget-text-editor"
                            data-id="55948398" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <style>
                                    /*! elementor - v3.21.0 - 26-05-2024 */
                                    .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                                        background-color: #69727d;
                                        color: #fff
                                    }

                                    .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                                        color: #69727d;
                                        border: 3px solid;
                                        background-color: transparent
                                    }

                                    .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                                        margin-top: 8px
                                    }

                                    .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                                        width: 1em;
                                        height: 1em
                                    }

                                    .elementor-widget-text-editor .elementor-drop-cap {
                                        float: left;
                                        text-align: center;
                                        line-height: 1;
                                        font-size: 50px
                                    }

                                    .elementor-widget-text-editor .elementor-drop-cap-letter {
                                        display: inline-block
                                    }
                                </style>
                                <p>Nulla nec ligula molestie, pulvinar mi id, vulputate magna. Etiam lobortis velit
                                    vitae ante aliquet tincidunt.</p>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-282ac86 elementor-widget elementor-widget-metform"
                            data-id="282ac86" data-element_type="widget" data-widget_type="metform.default">
                            <div class="elementor-widget-container">
                                <div id="mf-response-props-id-1090" data-previous-steps-style="" data-editswitchopen=""
                                    data-response_type="alert" data-erroricon="fas fa-exclamation-triangle"
                                    data-successicon="fas fa-check" data-messageposition="top"
                                    class="   mf-scroll-top-no">
                                    <div class="formpicker_warper formpicker_warper_editable"
                                        data-metform-formpicker-key="1090">

                                        <div class="elementor-widget-container">

                                            <div id="metform-wrap-282ac86-1090" class="mf-form-wrapper"
                                                data-form-id="1090" data-wp-nonce="1c3e204ff9"
                                                data-form-nonce="74d55f1c5a" data-quiz-summery="false"
                                                data-save-progress="false" data-form-type="general-form"
                                                data-stop-vertical-effect="">
                                                <form class="metform-form-content">
                                                    <div class="mf-main-response-wrap   mf-response-msg-wrap"
                                                        data-show="0">
                                                        <div class="mf-response-msg"><i
                                                                class="mf-success-icon fas fa-check"></i>
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                    <div class="metform-form-main-wrapper">
                                                        <div data-elementor-type="wp-post" data-elementor-id="1090"
                                                            class="elementor elementor-1090">
                                                            <section
                                                                class="elementor-section elementor-top-section elementor-element elementor-element-3d1eed1f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                                data-id="3d1eed1f" data-element_type="section"
                                                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                                <div
                                                                    class="elementor-container elementor-column-gap-default">
                                                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3336b7a6"
                                                                        data-id="3336b7a6" data-element_type="column">
                                                                        <div
                                                                            class="elementor-widget-wrap elementor-element-populated">
                                                                            <div class="elementor-element elementor-element-70a811a8 elementor-widget elementor-widget-mf-listing-fname"
                                                                                data-id="70a811a8"
                                                                                data-element_type="widget"
                                                                                data-settings="{&quot;mf_input_name&quot;:&quot;mf-listing-fname&quot;}"
                                                                                data-widget_type="mf-listing-fname.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="mf-input-wrapper"><label
                                                                                            class="mf-input-label"
                                                                                            for="mf-input-text-70a811a8">Name
                                                                                            <span
                                                                                                class="mf-input-required-indicator"></span></label><input
                                                                                            type="text"
                                                                                            class="mf-input "
                                                                                            id="mf-input-text-70a811a8"
                                                                                            name="mf-listing-fname"
                                                                                            placeholder="Your Name... "
                                                                                            aria-invalid="false"
                                                                                            fdprocessedid="le017"></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="elementor-element elementor-element-1e7e7b3f elementor-widget elementor-widget-mf-email"
                                                                                data-id="1e7e7b3f"
                                                                                data-element_type="widget"
                                                                                data-settings="{&quot;mf_input_name&quot;:&quot;mf-email&quot;}"
                                                                                data-widget_type="mf-email.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="mf-input-wrapper"><label
                                                                                            class="mf-input-label"
                                                                                            for="mf-input-email-1e7e7b3f">Email
                                                                                            <span
                                                                                                class="mf-input-required-indicator"></span></label><input
                                                                                            type="email"
                                                                                            class="mf-input "
                                                                                            id="mf-input-email-1e7e7b3f"
                                                                                            name="mf-email"
                                                                                            placeholder="example@yourmail.com "
                                                                                            aria-invalid="false"
                                                                                            value=""
                                                                                            fdprocessedid="4bpkf"></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="elementor-element elementor-element-36a695d5 elementor-widget elementor-widget-mf-text"
                                                                                data-id="36a695d5"
                                                                                data-element_type="widget"
                                                                                data-settings="{&quot;mf_input_name&quot;:&quot;mf-text&quot;}"
                                                                                data-widget_type="mf-text.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="mf-input-wrapper"><label
                                                                                            class="mf-input-label"
                                                                                            for="mf-input-text-36a695d5">Subject
                                                                                            <span
                                                                                                class="mf-input-required-indicator"></span></label><input
                                                                                            type="text"
                                                                                            class="mf-input "
                                                                                            id="mf-input-text-36a695d5"
                                                                                            name="mf-text"
                                                                                            placeholder="Title... "
                                                                                            aria-invalid="false"
                                                                                            fdprocessedid="1yyhxm">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="elementor-element elementor-element-696206c elementor-widget elementor-widget-mf-textarea"
                                                                                data-id="696206c"
                                                                                data-element_type="widget"
                                                                                data-settings="{&quot;mf_input_name&quot;:&quot;mf-textarea&quot;}"
                                                                                data-widget_type="mf-textarea.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="mf-input-wrapper"><label
                                                                                            class="mf-input-label"
                                                                                            for="mf-input-text-area-696206c">Message
                                                                                            <span
                                                                                                class="mf-input-required-indicator"></span></label><textarea
                                                                                            class="mf-input mf-textarea "
                                                                                            id="mf-input-text-area-696206c"
                                                                                            name="mf-textarea"
                                                                                            placeholder="Type Here... "
                                                                                            cols="30" rows="10"
                                                                                            aria-invalid="false"></textarea>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="elementor-element elementor-element-91c7001 mf-btn--justify mf-btn--tablet-justify mf-btn--mobile-justify elementor-widget elementor-widget-mf-button"
                                                                                data-id="91c7001"
                                                                                data-element_type="widget"
                                                                                data-widget_type="mf-button.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="mf-btn-wraper "
                                                                                        data-mf-form-conditional-logic-requirement="">
                                                                                        <button type="submit"
                                                                                            class="metform-btn metform-submit-btn "
                                                                                            id=""
                                                                                            fdprocessedid="3cxah7"><span>Send
                                                                                                Now </span></button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>




                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-45335eaf"
                    data-id="45335eaf" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-7527295b elementor-widget elementor-widget-google_maps"
                            data-id="7527295b" data-element_type="widget" data-widget_type="google_maps.default">
                            <div class="elementor-widget-container">
                                <style>
                                    /*! elementor - v3.21.0 - 26-05-2024 */
                                    .elementor-widget-google_maps .elementor-widget-container {
                                        overflow: hidden
                                    }

                                    .elementor-widget-google_maps .elementor-custom-embed {
                                        line-height: 0
                                    }

                                    .elementor-widget-google_maps iframe {
                                        height: 300px
                                    }
                                </style>
                                <div class="elementor-custom-embed">
                                    <iframe loading="lazy"
                                        src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&#038;t=m&#038;z=10&#038;output=embed&#038;iwloc=near"
                                        title="London Eye, London, United Kingdom"
                                        aria-label="London Eye, London, United Kingdom"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>


</div><!-- #page -->




<link rel='stylesheet' id='elementor-post-1090-css' href="{% static 'css/post-1090.css' %}" media='all' />
<link rel='stylesheet' id='metform-style-css' href="{% static 'css/style.css' %}" media='all' />


{% endblock body %}