{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel='stylesheet' id='elementor-post-933-css' href="{% static 'css/post-933.css' %}" media='all' />
<title>Pricing Page - Home Tutors in Delhi</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            margin-bottom: 20px;
        }
        table {
            margin-top: 20px;
        }
    </style>



{% endblock head%}

{% block body %}




<div data-elementor-type="wp-post" data-elementor-id="933" class="elementor elementor-933">
    <section
        class="elementor-section elementor-top-section elementor-element elementor-element-3f7ceb8 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="3f7ceb8" data-element_type="section"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;tilt&quot;}">
        <div class="elementor-background-overlay"></div>
        <div class="elementor-shape elementor-shape-bottom" data-negative="false">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z" />
            </svg>
        </div>
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-756e530"
                data-id="756e530" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-0b45bc0 elementor-widget elementor-widget-heading"
                        data-id="0b45bc0" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.21.0 - 26-05-2024 */
                                .elementor-heading-title {
                                    padding: 0;
                                    margin: 0;
                                    line-height: 1
                                }

                                .elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a {
                                    color: inherit;
                                    font-size: inherit;
                                    line-height: inherit
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                    font-size: 15px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                    font-size: 19px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                    font-size: 29px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                    font-size: 39px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                    font-size: 59px
                                }
                            </style>
                            <h1 class="elementor-heading-title elementor-size-default">Pricing</h1>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-0198b40 elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image"
                        data-id="0198b40" data-element_type="widget"
                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" width="183" height="183" src="{% static 'img/c4.png' %}"
                                class="attachment-large size-large wp-image-124" alt="" />
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-f402b4b elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image"
                        data-id="f402b4b" data-element_type="widget"
                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" width="184" height="181" src="{% static 'img/c3.png' %}"
                                class="attachment-large size-large wp-image-123" alt="" />
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-0a4bc66 elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image"
                        data-id="0a4bc66" data-element_type="widget"
                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img loading="lazy" decoding="async" width="324" height="287"
                                src="{% static 'img/edge.png' %}" class="attachment-large size-large wp-image-134"
                                alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="container">
        <h1>Standard Fee Structure</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Category</th>
                        <th>Fee (per hour)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nursery</td>
                        <td>Rs. 400 onwards</td>
                    </tr>
                    <tr>
                        <td>Standard VI - Standard VIII</td>
                        <td>Rs. 500 onwards</td>
                    </tr>
                    <tr>
                        <td>Standard IX - Standard X</td>
                        <td>Rs. 600 onwards</td>
                    </tr>
                    <tr>
                        <td>Standard XI - Standard XII</td>
                        <td>Rs. 700 onwards</td>
                    </tr>
                    <tr>
                        <td>IIT-JEE / Medical Entrance</td>
                        <td>Rs. 900 onwards</td>
                    </tr>
                    <tr>
                        <td>Competitive Exams</td>
                        <td>Rs. 900 onwards</td>
                    </tr>
                    <tr>
                        <td>Foreign Language</td>
                        <td>Rs. 700 onwards</td>
                    </tr>
                    <tr>
                        <td>Graduation</td>
                        <td>Rs. 800 onwards</td>
                    </tr>
                    <tr>
                        <td>English Conversation</td>
                        <td>Rs. 700 onwards</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>

        <h2>Rates Depend Upon:</h2>
        <ul>
            <li>One's Qualification</li>
            <li>Way of Imparting Knowledge</li>
            <li>Experience</li>
            <li>Clarity in Pronunciation</li>
            <li>Past Results</li>
            <li>Educational Background</li>
            <li>Way of Teaching</li>
        </ul>
    </div>

    
    
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



{% endblock body %}