{% extends 'base.html' %}
{% load static %}

{% block head %}

<title>Teacher &#8211; Lessan</title>

<link rel='stylesheet' id='jkit-elements-main-css'
    href="{% static 'css/main.css' %}"
    media='all' />

<link rel='stylesheet' id='elementor-post-945-css'
    href="{% static 'css/post-945.css' %}"
    media='all' />

{% endblock head%}
{% block body %}
<div data-elementor-type="wp-post" data-elementor-id="945" class="elementor elementor-945">
    <section
        class="elementor-section elementor-top-section elementor-element elementor-element-788eb30 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="788eb30" data-element_type="section"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;tilt&quot;}">
        <div class="elementor-background-overlay"></div>
        <div class="elementor-shape elementor-shape-bottom" data-negative="false">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z" />
            </svg>
        </div>
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-89c3fd7"
                data-id="89c3fd7" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-8ae04c1 elementor-widget elementor-widget-heading"
                        data-id="8ae04c1" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.21.0 - 26-05-2024 */
                                .elementor-heading-title {
                                    padding: 0;
                                    margin: 0;
                                    line-height: 1
                                }

                                .elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a {
                                    color: inherit;
                                    font-size: inherit;
                                    line-height: inherit
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                    font-size: 15px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                    font-size: 19px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                    font-size: 29px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                    font-size: 39px
                                }

                                .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                    font-size: 59px
                                }
                            </style>
                            <h1 class="elementor-heading-title elementor-size-default">Teacher</h1>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-ab731e9 elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image"
                        data-id="ab731e9" data-element_type="widget"
                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" width="183" height="183"
                                src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/c4.png"
                                class="attachment-large size-large wp-image-124" alt=""
                                srcset="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/c4.png 183w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/c4-150x150.png 150w"
                                sizes="(max-width: 183px) 100vw, 183px" />
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-ed207d5 elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image"
                        data-id="ed207d5" data-element_type="widget"
                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" width="184" height="181"
                                src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/c3.png"
                                class="attachment-large size-large wp-image-123" alt="" />
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-cb42f78 elementor-widget__width-initial elementor-absolute elementor-widget elementor-widget-image"
                        data-id="cb42f78" data-element_type="widget"
                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img loading="lazy" decoding="async" width="324" height="287"
                                src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/edge.png"
                                class="attachment-large size-large wp-image-134" alt=""
                                srcset="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/edge.png 324w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/edge-300x266.png 300w"
                                sizes="(max-width: 324px) 100vw, 324px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section
        class="elementor-section elementor-top-section elementor-element elementor-element-62b2238 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="62b2238" data-element_type="section"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2308bae"
                data-id="2308bae" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-d5e7bb3 elementor-widget elementor-widget-heading"
                        data-id="d5e7bb3" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">Meet our certified teacher</h2>
                        </div>
                    </div>
                    <section
                        class="elementor-section elementor-inner-section elementor-element elementor-element-f248ff3 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="f248ff3" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-269c006"
                                data-id="269c006" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-02bdc68 elementor-widget elementor-widget-jkit_team"
                                        data-id="02bdc68" data-element_type="widget"
                                        data-widget_type="jkit_team.default">
                                        <div class="elementor-widget-container">
                                            <div
                                                class="jeg-elementor-kit jkit-team style-overlay overlay-bottom jeg_module_945__66bf0f1dac33a">
                                                <div class="profile-card "><img loading="lazy" decoding="async"
                                                        width="800" height="800"
                                                        src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp1.jpg"
                                                        class="attachment-full size-full" alt="Harry Smith"
                                                        url="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp1.jpg"
                                                        source="library"
                                                        srcset="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp1.jpg 800w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp1-300x300.jpg 300w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp1-150x150.jpg 150w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp1-768x768.jpg 768w"
                                                        sizes="(max-width: 800px) 100vw, 800px" />
                                                    <div class="hover-area alignment-center">
                                                        <div class="profile-body">
                                                            <h2 class="profile-title">Harry Smith</h2>
                                                            <p class="profile-designation">English Teacher</p>

                                                            <ul class="social-list">
                                                                <li class="social-icon elementor-repeater-item-4c2d797">
                                                                    <a href="https://facebook.com"
                                                                        aria-label="social-icon"><i aria-hidden="true"
                                                                            class="fab fa-facebook-f"></i></a></li>
                                                                <li class="social-icon elementor-repeater-item-5d7eb15">
                                                                    <a href="https://twitter.com"
                                                                        aria-label="social-icon"><i aria-hidden="true"
                                                                            class="fab fa-twitter"></i></a></li>
                                                                <li class="social-icon elementor-repeater-item-51fd3fb">
                                                                    <a href="https://pinterest.com"
                                                                        aria-label="social-icon"><i aria-hidden="true"
                                                                            class="fab fa-pinterest-p"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-295d79d"
                                data-id="295d79d" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-8ecd6b7 elementor-widget elementor-widget-jkit_team"
                                        data-id="8ecd6b7" data-element_type="widget"
                                        data-widget_type="jkit_team.default">
                                        <div class="elementor-widget-container">
                                            <div
                                                class="jeg-elementor-kit jkit-team style-overlay overlay-bottom jeg_module_945_1_66bf0f1dadaac">
                                                <div class="profile-card "><img loading="lazy" decoding="async"
                                                        width="800" height="800"
                                                        src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp2.jpg"
                                                        class="attachment-full size-full" alt="Gregory Warren"
                                                        url="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp2.jpg"
                                                        source="library"
                                                        srcset="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp2.jpg 800w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp2-300x300.jpg 300w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp2-150x150.jpg 150w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp2-768x768.jpg 768w"
                                                        sizes="(max-width: 800px) 100vw, 800px" />
                                                    <div class="hover-area alignment-center">
                                                        <div class="profile-body">
                                                            <h2 class="profile-title">Gregory Warren</h2>
                                                            <p class="profile-designation">Social Teacher</p>

                                                            <ul class="social-list">
                                                                <li class="social-icon elementor-repeater-item-4c2d797">
                                                                    <a href="https://facebook.com"
                                                                        aria-label="social-icon"><i aria-hidden="true"
                                                                            class="fab fa-facebook-f"></i></a></li>
                                                                <li class="social-icon elementor-repeater-item-5d7eb15">
                                                                    <a href="https://twitter.com"
                                                                        aria-label="social-icon"><i aria-hidden="true"
                                                                            class="fab fa-twitter"></i></a></li>
                                                                <li class="social-icon elementor-repeater-item-51fd3fb">
                                                                    <a href="https://pinterest.com"
                                                                        aria-label="social-icon"><i aria-hidden="true"
                                                                            class="fab fa-pinterest-p"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-13dd28d"
                                data-id="13dd28d" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-8684b0c elementor-widget elementor-widget-jkit_team"
                                        data-id="8684b0c" data-element_type="widget"
                                        data-widget_type="jkit_team.default">
                                        <div class="elementor-widget-container">
                                            <div
                                                class="jeg-elementor-kit jkit-team style-overlay overlay-bottom jeg_module_945_2_66bf0f1daf6e7">
                                                <div class="profile-card "><img loading="lazy" decoding="async"
                                                        width="800" height="800"
                                                        src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp3.jpg"
                                                        class="attachment-full size-full" alt="Peter wong"
                                                        url="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp3.jpg"
                                                        source="library"
                                                        srcset="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp3.jpg 800w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp3-300x300.jpg 300w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp3-150x150.jpg 150w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp3-768x768.jpg 768w"
                                                        sizes="(max-width: 800px) 100vw, 800px" />
                                                    <div class="hover-area alignment-center">
                                                        <div class="profile-body">
                                                            <h2 class="profile-title">Peter wong</h2>
                                                            <p class="profile-designation">Math Teacher</p>

                                                            <ul class="social-list">
                                                                <li class="social-icon elementor-repeater-item-4c2d797">
                                                                    <a href="https://facebook.com"
                                                                        aria-label="social-icon"><i aria-hidden="true"
                                                                            class="fab fa-facebook-f"></i></a></li>
                                                                <li class="social-icon elementor-repeater-item-5d7eb15">
                                                                    <a href="https://twitter.com"
                                                                        aria-label="social-icon"><i aria-hidden="true"
                                                                            class="fab fa-twitter"></i></a></li>
                                                                <li class="social-icon elementor-repeater-item-51fd3fb">
                                                                    <a href="https://pinterest.com"
                                                                        aria-label="social-icon"><i aria-hidden="true"
                                                                            class="fab fa-pinterest-p"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-inner-section elementor-element elementor-element-f763f93 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="f763f93" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ef34ef2"
                                data-id="ef34ef2" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-824244f elementor-widget elementor-widget-jkit_team"
                                        data-id="824244f" data-element_type="widget"
                                        data-widget_type="jkit_team.default">
                                        <div class="elementor-widget-container">
                                            <div
                                                class="jeg-elementor-kit jkit-team style-overlay overlay-bottom jeg_module_945_3_66bf0f1db1709">
                                                <div class="profile-card "><img loading="lazy" decoding="async"
                                                        width="800" height="800"
                                                        src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp5.jpg"
                                                        class="attachment-full size-full" alt="Jimmy Smith"
                                                        url="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp5.jpg"
                                                        source="library"
                                                        srcset="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp5.jpg 800w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp5-300x300.jpg 300w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp5-150x150.jpg 150w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp5-768x768.jpg 768w"
                                                        sizes="(max-width: 800px) 100vw, 800px" />
                                                    <div class="hover-area alignment-center">
                                                        <div class="profile-body">
                                                            <h2 class="profile-title">Jimmy Smith</h2>
                                                            <p class="profile-designation">English Teacher</p>

                                                            <ul class="social-list">
                                                                <li class="social-icon elementor-repeater-item-4c2d797">
                                                                    <a href="https://facebook.com"
                                                                        aria-label="social-icon"><i aria-hidden="true"
                                                                            class="fab fa-facebook-f"></i></a></li>
                                                                <li class="social-icon elementor-repeater-item-5d7eb15">
                                                                    <a href="https://twitter.com"
                                                                        aria-label="social-icon"><i aria-hidden="true"
                                                                            class="fab fa-twitter"></i></a></li>
                                                                <li class="social-icon elementor-repeater-item-51fd3fb">
                                                                    <a href="https://pinterest.com"
                                                                        aria-label="social-icon"><i aria-hidden="true"
                                                                            class="fab fa-pinterest-p"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-0256ae2"
                                data-id="0256ae2" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-0a97906 elementor-widget elementor-widget-jkit_team"
                                        data-id="0a97906" data-element_type="widget"
                                        data-widget_type="jkit_team.default">
                                        <div class="elementor-widget-container">
                                            <div
                                                class="jeg-elementor-kit jkit-team style-overlay overlay-bottom jeg_module_945_4_66bf0f1db350d">
                                                <div class="profile-card "><img loading="lazy" decoding="async"
                                                        width="800" height="800"
                                                        src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp4.jpg"
                                                        class="attachment-full size-full" alt="Edward Connor"
                                                        url="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp4.jpg"
                                                        source="library"
                                                        srcset="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp4.jpg 800w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp4-300x300.jpg 300w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp4-150x150.jpg 150w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp4-768x768.jpg 768w"
                                                        sizes="(max-width: 800px) 100vw, 800px" />
                                                    <div class="hover-area alignment-center">
                                                        <div class="profile-body">
                                                            <h2 class="profile-title">Edward Connor</h2>
                                                            <p class="profile-designation">Math Teacher</p>

                                                            <ul class="social-list">
                                                                <li class="social-icon elementor-repeater-item-4c2d797">
                                                                    <a href="https://facebook.com"
                                                                        aria-label="social-icon"><i aria-hidden="true"
                                                                            class="fab fa-facebook-f"></i></a></li>
                                                                <li class="social-icon elementor-repeater-item-5d7eb15">
                                                                    <a href="https://twitter.com"
                                                                        aria-label="social-icon"><i aria-hidden="true"
                                                                            class="fab fa-twitter"></i></a></li>
                                                                <li class="social-icon elementor-repeater-item-51fd3fb">
                                                                    <a href="https://pinterest.com"
                                                                        aria-label="social-icon"><i aria-hidden="true"
                                                                            class="fab fa-pinterest-p"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-e17afb3"
                                data-id="e17afb3" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-1ebb9d5 elementor-widget elementor-widget-jkit_team"
                                        data-id="1ebb9d5" data-element_type="widget"
                                        data-widget_type="jkit_team.default">
                                        <div class="elementor-widget-container">
                                            <div
                                                class="jeg-elementor-kit jkit-team style-overlay overlay-bottom jeg_module_945_5_66bf0f1db49a9">
                                                <div class="profile-card "><img loading="lazy" decoding="async"
                                                        width="800" height="800"
                                                        src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp6.jpg"
                                                        class="attachment-full size-full" alt="Betty Clarke"
                                                        url="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp6.jpg"
                                                        source="library"
                                                        srcset="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp6.jpg 800w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp6-300x300.jpg 300w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp6-150x150.jpg 150w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/pp6-768x768.jpg 768w"
                                                        sizes="(max-width: 800px) 100vw, 800px" />
                                                    <div class="hover-area alignment-center">
                                                        <div class="profile-body">
                                                            <h2 class="profile-title">Betty Clarke</h2>
                                                            <p class="profile-designation">Social Teacher</p>

                                                            <ul class="social-list">
                                                                <li class="social-icon elementor-repeater-item-4c2d797">
                                                                    <a href="https://facebook.com"
                                                                        aria-label="social-icon"><i aria-hidden="true"
                                                                            class="fab fa-facebook-f"></i></a></li>
                                                                <li class="social-icon elementor-repeater-item-5d7eb15">
                                                                    <a href="https://twitter.com"
                                                                        aria-label="social-icon"><i aria-hidden="true"
                                                                            class="fab fa-twitter"></i></a></li>
                                                                <li class="social-icon elementor-repeater-item-51fd3fb">
                                                                    <a href="https://pinterest.com"
                                                                        aria-label="social-icon"><i aria-hidden="true"
                                                                            class="fab fa-pinterest-p"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="elementor-element elementor-element-d206c22 elementor-widget__width-initial elementor-absolute elementor-widget-mobile__width-initial elementor-widget elementor-widget-image"
                        data-id="d206c22" data-element_type="widget"
                        data-settings="{&quot;_position&quot;:&quot;absolute&quot;}" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                            <img decoding="async" width="184" height="181"
                                src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/c3.png"
                                class="attachment-large size-large wp-image-123" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section
        class="elementor-section elementor-top-section elementor-element elementor-element-d2a86ce elementor-reverse-tablet elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="d2a86ce" data-element_type="section"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-95c9200"
                data-id="95c9200" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <section
                        class="elementor-section elementor-inner-section elementor-element elementor-element-71b58f6 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="71b58f6" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f9395c3"
                                data-id="f9395c3" data-element_type="column"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-36bf2b7 elementor-widget elementor-widget-image"
                                        data-id="36bf2b7" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <img loading="lazy" decoding="async" width="700" height="171"
                                                src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-265.png"
                                                class="attachment-large size-large wp-image-510" alt=""
                                                srcset="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-265.png 700w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-265-300x73.png 300w"
                                                sizes="(max-width: 700px) 100vw, 700px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-51c801a"
                                data-id="51c801a" data-element_type="column"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-dbf7950 elementor-widget elementor-widget-image"
                                        data-id="dbf7950" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <img loading="lazy" decoding="async" width="708" height="171"
                                                src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-264.png"
                                                class="attachment-large size-large wp-image-509" alt=""
                                                srcset="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-264.png 708w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-264-300x72.png 300w"
                                                sizes="(max-width: 708px) 100vw, 708px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-edf51e2"
                                data-id="edf51e2" data-element_type="column"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-aad8722 elementor-widget elementor-widget-image"
                                        data-id="aad8722" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <img loading="lazy" decoding="async" width="708" height="171"
                                                src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-262.png"
                                                class="attachment-large size-large wp-image-508" alt=""
                                                srcset="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-262.png 708w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-262-300x72.png 300w"
                                                sizes="(max-width: 708px) 100vw, 708px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="elementor-section elementor-inner-section elementor-element elementor-element-a77e919 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="a77e919" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-eb31055"
                                data-id="eb31055" data-element_type="column"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-a0b03b9 elementor-widget elementor-widget-image"
                                        data-id="a0b03b9" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <img loading="lazy" decoding="async" width="696" height="171"
                                                src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-261.png"
                                                class="attachment-large size-large wp-image-507" alt=""
                                                srcset="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-261.png 696w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-261-300x74.png 300w"
                                                sizes="(max-width: 696px) 100vw, 696px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-47164c9"
                                data-id="47164c9" data-element_type="column"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-4c79e73 elementor-widget elementor-widget-image"
                                        data-id="4c79e73" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <img loading="lazy" decoding="async" width="642" height="113"
                                                src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-259.png"
                                                class="attachment-large size-large wp-image-506" alt=""
                                                srcset="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-259.png 642w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-259-300x53.png 300w"
                                                sizes="(max-width: 642px) 100vw, 642px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5ffe22b"
                                data-id="5ffe22b" data-element_type="column"
                                data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-b28e98b elementor-widget elementor-widget-image"
                                        data-id="b28e98b" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <img loading="lazy" decoding="async" width="717" height="167"
                                                src="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-254.png"
                                                class="attachment-large size-large wp-image-505" alt=""
                                                srcset="https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-254.png 717w, https://kitpro.site/lessan/wp-content/uploads/sites/159/2023/04/logoipsum-254-300x70.png 300w"
                                                sizes="(max-width: 717px) 100vw, 717px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-19dd6cd"
                data-id="19dd6cd" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-47258ce elementor-widget elementor-widget-heading"
                        data-id="47258ce" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">Our Trusted Partners</h2>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-9d2e7fe elementor-widget elementor-widget-text-editor"
                        data-id="9d2e7fe" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.21.0 - 26-05-2024 */
                                .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                                    background-color: #69727d;
                                    color: #fff
                                }

                                .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                                    color: #69727d;
                                    border: 3px solid;
                                    background-color: transparent
                                }

                                .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                                    margin-top: 8px
                                }

                                .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                                    width: 1em;
                                    height: 1em
                                }

                                .elementor-widget-text-editor .elementor-drop-cap {
                                    float: left;
                                    text-align: center;
                                    line-height: 1;
                                    font-size: 50px
                                }

                                .elementor-widget-text-editor .elementor-drop-cap-letter {
                                    display: inline-block
                                }
                            </style>
                            <p>Donec hendrerit nibh in lectus molestie, id bibendum orci hendrerit. Curabitur euismod
                                ante finibus nibh suscipit, vitae vehicula eros venenatis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>

{% endblock body %}